In [52]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [53]:
df=pd.read_csv("penguins_cleaned.csv")

In [54]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181,3750,male
1,Adelie,Torgersen,39.5,17.4,186,3800,female
2,Adelie,Torgersen,40.3,18.0,195,3250,female
3,Adelie,Torgersen,36.7,19.3,193,3450,female
4,Adelie,Torgersen,39.3,20.6,190,3650,male

In [55]:
df.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

this data has no null values

In [56]:
df.species.value_counts()

Adelie       146
Gentoo       119
Chinstrap     68
Name: species, dtype: int64

In [57]:
df.island.value_counts()

Biscoe       163
Dream        123
Torgersen     47
Name: island, dtype: int64

In [58]:
encode=['sex','island']
for i in encode:
    dum=pd.get_dummies(df[i])
    df=pd.concat([df,dum],axis=1)
    df.drop([i],axis=1,inplace=True)

In [59]:
labelencoder = LabelEncoder()
df['species'] = labelencoder.fit_transform(df['species'])
df

,species,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,female,male,Biscoe,Dream,Torgersen
0,0,39.1,18.7,181,3750,0,1,0,0,1
1,0,39.5,17.4,186,3800,1,0,0,0,1
2,0,40.3,18.0,195,3250,1,0,0,0,1
3,0,36.7,19.3,193,3450,1,0,0,0,1
4,0,39.3,20.6,190,3650,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
328,1,55.8,19.8,207,4000,0,1,0,1,0
329,1,43.5,18.1,202,3400,1,0,0,1,0
330,1,49.6,18.2,193,3775,0,1,0,1,0
331,1,50.8,19.0,210,4100,0,1,0,1,0
332,1,50.2,18.7,198,3775,1,0,0,1,0

In [60]:
X=df.drop('species',axis=1)
Y=df['species']

In [61]:
from sklearn.ensemble import RandomForestClassifier
clf=RandomForestClassifier()
clf.fit(X,Y)

RandomForestClassifier()

In [ ]:
import pickle
pickle.dump(clf,open('penguin_clf.pkl','wb'))